@charset "UTF-8";
/* 
   RESET BÁSICO DE ESTILOS! */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1;
  background: #ffffff;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* OTRAS VARIABLES */
/* TIPOGRAFÍA */
/* === MIXIN PARA BOX-SHADOW === */
/* === MIXIN PARA BREAKPOINTS === 
*/
/* === MIXIN PARA FLEX-CENTER */
/* === PLACEHOLDER PARA @EXTEND === 
*/
.formulario-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  text-align: left;
}

.formulario-grid input,
.formulario-grid textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.formulario-grid button {
  padding: 0.8rem 2rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.formulario-grid button:hover {
  background-color: #2980b9;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

/* BODY */
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: #212529 !important;
  color: white;
}

.navbar-toggler {
  margin-left: auto !important;
}

/* HEADER */
.pagina__encabezado {
  width: 100%;
  padding: 0;
}

/* BANNER */
.pagina__banner {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.pagina__banner img {
  width: 60%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .pagina__banner {
    display: none !important;
  }
}
/* SECCIÓN PRINCIPAL */
.pagina__contenido {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.pagina__contenido > * {
  flex: 1;
  min-width: 30%;
  max-width: 33%;
}

@media (max-width: 767px) {
  .pagina__contenido {
    flex-direction: column;
  }
  .pagina__contenido > * {
    width: 100%;
    max-width: 100%;
  }
}
/* CONTENIDO */
.contenido__principal,
.contenido__lateral,
.contenido__articulo,
.contenido__listas div,
.servicios-contenedor div,
.habilidad,
.sobre-nosotros-contenedor section {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

/* FOOTER */
.pagina__pie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #212529;
  color: #ffffff;
  padding: 0.25rem;
  width: 100%;
  text-align: center;
}

.pagina__pie div {
  text-align: center;
  padding: 0.75rem;
}

@media (max-width: 767px) {
  .pagina__pie {
    flex-direction: column;
  }
  .pagina__pie div {
    width: 100%;
    text-align: center;
  }
}
/* LISTAS */
ul,
ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/* ENLACES */
a {
  color: #f7f9fa;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

/* TÍTULOS */
h1,
h2,
h3 {
  font-weight: 700;
  margin: 1rem 0;
  line-height: 1.2;
  color: #333;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

/* PÁRRAFOS */
p {
  margin: 0.75rem 0;
  font-size: 1rem;
}

/* FORMULARIO */
.formulario-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.formulario-grid input,
.formulario-grid textarea,
.formulario-grid button {
  width: 100%;
}

.formulario-grid button {
  padding: 0.8rem 2rem;
  background-color: #212529;
  color: #ffffff;
  border: 1px solid #212529;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease-in-out;
}

.formulario-grid button:hover {
  background-color: #101820 !important;
}

/* SOBRE NOSOTROS */
.sobre-nosotros-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.sobre-nosotros-habilidades {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 768px) {
  .sobre-nosotros-habilidades {
    flex-direction: column;
  }
}
/* SERVICIOS */
@media (min-width: 768px) {
  .servicios-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .servicios-contenedor {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .pagina__contenido {
    grid-template-areas: "principal" "lateral" "articulo" "listas";
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
  .contenido__listas {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .pagina__contenido {
    grid-template-areas: "principal lateral" "articulo articulo" "listas listas";
    grid-template-columns: 2fr 1fr;
  }
  .contenido__listas {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
