body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: $color-fondo-base;
  color: $color-texto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  /* Carousel */
  .carousel-item {
    text-align: center;

    img {
      width: 50%;
      height: auto;
      max-height: 500px;
      object-fit: cover;
    }
  }
}

@media (max-width: 767px) {
  .carousel-item {
    display: none !important;
  }
}

/* ===== GRID PRINCIPAL / ESTRUCTURA BASE ===== */
.pagina {
  display: grid;
  grid-template-areas:
    "encabezado"
    "banner"
    "contenido"
    "pie";
  grid-template-rows: auto auto 1fr auto;
  gap: 1.5rem;
  min-height: 100vh;

  &__encabezado {
    grid-area: encabezado;
  }

  &__banner {
    grid-area: banner;
  }

  /* 
    ===== Contenido principal ===== */
  &__contenido {
    grid-area: contenido;
    display: grid;
    grid-template-areas:
      "principal lateral"
      "articulo articulo"
      "listas listas";
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }

  @media (max-width: 767px) {
    &__contenido {
      grid-template-areas:
        "principal"
        "lateral"
        "articulo"
        "listas";
      grid-template-columns: 1fr;
    }
  }

  &__pie {
    grid-area: pie;
    background-color: $color-footer;
    color: $color-blanco;
    @include flex-center(space-around, center, row);
    padding: 1rem;
    flex-wrap: wrap;

  
    @media (max-width: 767px) {
      flex-direction: column;
      text-align: center;
      justify-content: center; 
    }
  }
}

/* ===== CONTENIDO PRINCIPAL ===== */
.contenido__principal,
.contenido__articulo,
.contenido__listas div {
  @extend %card-base;
  margin-bottom: 1rem;
}

/* Lateral */
.contenido__lateral {
  background: $color-fondo-lateral;
  padding: 1rem 1.5rem;
  border-radius: $radius-base;
  @include box-shadow();
}

/* Listas */
.contenido__listas {
  grid-area: listas;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  div {
    flex: 1;
  }
}

/* === Estilos de listas === */
ul {
  list-style-type: disc;       
  margin: 1rem 0;
  padding-left: 1.5rem;        
}

ol {
  list-style-type: decimal;
  margin: 1rem 0;
  padding-left: 1.5rem;
}

/* Estilos de enlaces */
a {
  color: #f7f9fa;
  text-decoration: none;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}

/* Títulos */
h1,
h2,
h3 {
  font-weight: 700;
  margin: 1rem 0;
  line-height: 1.2;
  color: $color-texto;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

/* Párrafos */
p {
  margin: 0.75rem 0;
  font-size: 1rem;
}
