@media (min-width: 1024px) {

    .pagina__contenido {
        grid-template-areas:
            "principal lateral"
            "articulo articulo"
            "listas listas";
        grid-template-columns: 2fr 1fr;
    }

    .contenido__listas {
        flex-direction: row;
    }
}