@media (max-width: 1023px) and (min-width: 768px) {

    .pagina__contenido {
        grid-template-areas:
            "principal"
            "lateral"
            "articulo"
            "listas";
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }

    .contenido__listas {
        flex-direction: column;
        gap: 1rem;
    }
}