@import "variables"; 


.modo-nocturno-toggle {
    margin-top: auto;
    position: fixed;
    top: 65px;
    right: 60px;
    width: 45px;
    height: 24px;
    background: #ccc;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px;
    transition: background 0.3s ease-in-out;
    z-index: 9999;
}


.modo-nocturno-toggle .slider {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}


body:has(#modoNocturnoCheckbox:checked) .modo-nocturno-toggle {
    background: #666;
}

body:has(#modoNocturnoCheckbox:checked) .modo-nocturno-toggle .slider {
    transform: translateX(25px);
    background: #000;
}
